body{
    background-color:wheat;
    font-family: 'Times New Roman', Times, serif;
  }
  .box{
    width: 45px;
    height: 45px;
    /* background: linear-gradient(to bottom right, royalblue, rgb(11, 35, 107)); */
    border: none;
    border-top: 1px royalblue solid;
    border-bottom: 1px rgb(11, 35, 107) solid;
    transition : 2s ease;
    border-radius: 50px;
    margin: 0 auto;
  }
  .fill{
    background: linear-gradient(270deg, royalblue, rgb(11, 35, 107));
  }
  
  .secondBox{
    display: none;
    width: 20px;
    height: 20px;
    background-color: wheat;
    border-radius: 20px;
  }
  
  .container{
    width: 400px;
    height: 300px;
    /* border: solid 0.5px gray; */
    box-shadow: 13px -12px 0px 1px rgb(219, 119, 4);
    padding: 8px;
    /* background-color: royalblue; */
    background: linear-gradient(to bottom right, royalblue, rgb(11, 35, 107));
    position:relative;
    border-radius: 10px;
  } 
  .second-container{
    width: 400px;
    height: 300px;
    /* border: 0.5px gray; */
    padding: 8px;
    background: linear-gradient(180deg, rgb(255, 187, 0), rgb(219, 65, 4));
    position:relative;
    border-radius: 10px;
    box-shadow: 12px 13px 1px 0px rgb(11, 35, 107);
    display: flex;
    gap: 15px 20px;
    justify-content: center;
    align-items: center;
  }

  main{
    display: flex;
    gap: 30px 50px;
    justify-content: center;
    align-items: center;
  }
  
 .circle{
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom right, royalblue, rgb(11, 35, 107));
  border-radius: 100px;
  transition: .2s ease;
 }
h2{
  color: royalblue;
  text-align: center;
  transition: .4s ease;
}
 header{
  display: flex;
  gap: 30px 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 2em;
  color: rgb(97, 95, 92);
  font-style: normal;
 }
 .min, .sec, .hour{
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 100px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items:center ;
  font-style: italic;  
 }
  .hour{
    background: linear-gradient(to bottom right, royalblue, rgb(11, 35, 107));
    color: wheat;
    box-shadow: 13px -12px 0px 1px rgba(87, 86, 86, 0.404);
    
  }
  .min{
    background: linear-gradient(to bottom left,rgb(219, 65, 4), rgb(11, 35, 107));
    color: wheat;
    box-shadow: 13px -12px 0px 1px rgba(87, 86, 86, 0.404);
    
  }
  .sec{
    background: linear-gradient(360deg, rgb(255, 187, 0), rgb(219, 65, 4));
    color: wheat;
    box-shadow: 13px -12px 0px 1px rgba(87, 86, 86, 0.404);
    
    
  }
  /* box-shadow: 17px -6px 0px 1px rgba(87, 86, 86, 0.712); */
  /* box-shadow: 8px 6px 0px 1px rgba(87, 86, 86, 0.712); */